<div class="panel panel-primary">
    <div Class="panel-heading">
      <h2>Danh sách lớp học</h2>
      <button (click)="addClass()"  class="btn btn-success" style="margin-top:20px"> Tạo mới</button>
      <input class="float-right" type="text" placeholder="Search" [(ngModel)]="searchText" style="margin-top:20px">
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Tên</th>
            <th>Học kỳ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let class of classes | async | filter:searchText| paginate: { itemsPerPage: 9, currentPage: p }">
            <td>{{class.name}}</td>
            <td>{{class.name_semester}}</td>           
            <td>
                <i type="button" (click)="updateClass(class.id)" class="far fa-edit fa-2x" style="margin-left: 10px"></i>
                <i type="button" (click)="opensweetalertcst(class.id)" class="fas fa-trash-alt fa-2x" style="margin-left: 20px"></i>
                <i type="button" (click)="classDetails(class.id)" class="fas fa-info-circle fa-1.5x" style="margin-left: 20px">Chi tiết</i>  
                <i type="button" (click)="studyResult(class.id)" class="fas fa-clipboard-list fa-1.5x float-right" style="margin-left: 20px">KQ học tập</i>                                            
            </td>
          </tr>
        </tbody>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </table>
    </div>
  </div>
  
