<div class="panel panel-primary">
    <div Class="panel-heading">
      <h2>Student List</h2>
      <button (click)="addStudent()"  class="fas fa-plus-circle fa-2x"> Create</button>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Tên</th>
            <th>Lớp</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Mã học sinh</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students | async">
            <td>{{student.name}}</td>
            <td>{{student.name_class}}</td>
            <td>{{student.birthDate}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.studentCode}}</td>
            <td>
                <i type="button" (click)="updateStudent(student.id)" class="far fa-edit fa-2x" style="margin-left: 10px"></i>
                <i type="button" (click)="opensweetalertcst(student.id)" class="fas fa-trash-alt fa-2x" style="margin-left: 20px"></i>
                <i type="button" (click)="studentDetails(student.id)" class="fas fa-info-circle fa-1.5x" style="margin-left: 20px">Chi tiết</i>                
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
