<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Danh sách môn học</h2>
    <button (click)="addSubject()"  class="btn btn-success" style="margin-top:20px"> Tạo mới</button>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Tên</th>
        </tr>
      </thead>
      <tbody>
        <tr #datatable *ngFor="let subject of subjects | async">
          <td>{{subject.name}}</td>
          <td>
              <i type="button" (click)="updateSubject(subject.id)" class="far fa-edit fa-2x" style="margin-left: 10px"></i>
              <i type="button" (click)="opensweetalertcst(subject.id)" class="fas fa-trash-alt fa-2x" style="margin-left: 20px"></i>
              <i type="button" (click)="subjectDetails(subject.id)" class="fas fa-info-circle fa-1.5x" style="margin-left: 20px">Chi tiết</i>                
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

