<h3>Update Student</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name"> Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="student.name" name="name">
      <label for="name_class">Lớp</label>
      <select  [(ngModel)]="student.id_class"  name="id_class" class="form-control" >
        <option *ngFor="let class of classes | async" type="text" 
               value ={{class.id}}>{{class.name}}
        </option>
      </select>
      <label for="name">Ngày sinh</label>
      <input type="date" class="form-control" id="birthDate" required [(ngModel)]="student.birthDate" name="birthDate">
      <label for="name">Giới tính</label>
      <select [(ngModel)]="student.gender"  name="gender" class="form-control">
        <option type="text" value="Nam">Nam</option>
        <option type="text" value="Nữ">Nữ</option>
      </select>
      <label for="name">Mã học sinh</label>
      <input type="number" class="form-control" id="studenCode" required [(ngModel)]="student.studentCode" name="studentCode">    
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>