<h2>Danh sách lớp {{class.name}}</h2> 

<hr/>
<div *ngIf="class">
  <div>
    <label><h5>{{class.name_semester}} </h5></label>  
  </div>
</div>
<br>
<br>
<button (click)="addStudent()"  class="btn btn-success"> Thêm học sinh</button>
<input type="text" placeholder="Search" [(ngModel)]="searchText" class="float-right">
<div class="panel-body">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên</th>
        <th>Lớp</th>
        <th>Ngày sinh</th>
        <th>Giới tính</th>
        <th>Mã học sinh</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students  | async |filter:searchText; index as i ">
        <td>{{i + 1}}</td>
        <td>{{student.name}}</td>
        <td>{{student.name_class}}</td>
        <td>{{student.birthDate}}</td>
        <td>{{student.gender}}</td>
        <td>{{student.studentCode}}</td>
        <td>
          <i type="button" (click)="studentDetails(student.id)" class="fas fa-info-circle fa-1.5x" style="margin-left: 20px">Chi tiết</i>                
        </td>
      </tr>
    </tbody>
  </table>
</div>
<button (click)="list()" class="btn btn-primary">Back to Class List</button><br>